<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hobbies</title>
    <link rel="stylesheet" href="Registration.css">
</head>
<body class="backg">
<div class="formView">
    <form class="form-photo">
        <div class="podr">
        <input type="file" placeholder="" class="photo" id="file">
            <label for="file"><img for="file" src="../../img/camera.svg"></label>

        </input>
        </div>

        <div class="next">
            <button class="nextButton">Далее</button>
        </div>
    </form>
</div>
</body>
</html>