<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="Registration.css">
</head>
<body class="back">
<div class="formView">
    <form class="form">
        <div class="cancel">
             <button class="cancelButton"><img src="../../img/cancel_gray.svg"/>
             </button>
        </div>
        <div class="label">
             <img src="../../img/small_classic_label.png"/>
        </div>
        <div class="label">
        <p class="reg">Регистрация</p>
        </div>
        <div class="cont">
            <label class="yourNumber">Ваш номер телефона:</label>
            <div class="number">
                <input readonly value="+7" class="readonlyNum">
                <input type="tel" placeholder="999-999-99-99" class="numb">
            </div>
        </div>
        <div class="pass">
            <input class="password" placeholder="Пароль"/>
        </div>
        <div class="pass">
            <input class="password" placeholder="Повторите пароль"/>
        </div>
<!--        <label class="label">После нажатия "Далее",</label>-->
<!--        <label class="label">вы получите SMS</label>-->
<!--        <label class="label"> с кодом подтверждения</label>-->
        <div class="next">
            <button class="nextButton">Далее</button>
        </div>
    </form>
</div>
</body>
</html>