
    <div class="chat__box__text-area__my">
        <div class="chat__box__text-area__my-message chat__box__text-area__my-message-color">
            {{message_text}}
        </div>
    </div>
    <div class="chat__box__text-area__my">
        <span class="chat__box__text-area__date">{{time_delivery}}</span>
    </div>