<div class="chat__box__text-area__other">
    <div class="chat__box__text-area__other-message chat__box__text-area__other-message-color">
        {{message_text}}
    </div>
    <span class="chat__box__text-area__date">{{time_delivery}}</span>
</div>