.chat__box {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:  white;
    width: 100%;
    height: 88%;
    border-radius: 35px;
    border-bottom-left-radius: 0px;
}

@media screen and (max-width: 1024px){
    .chat__box__top__left__avatar__photo{
        width: 10vh !important;
        height: 10vh !important;
    }
    .chat__box__top__left__avatar{
        height: 75% !important;
        width: 25% !important;
    }
    .chat__box__text-area__other{
        margin-left: 0.5vw;
    }
    .chat__box__text-area__my{
        margin-right: 1.5vw !important;
    }
    .chat__box__text-area__other-message{
        border-radius: 2vh 2vh 2vh 0 !important;
    }
    .chat__box__text-area__my-message{
        border-radius: 2vh 2vh 0 2vh !important;
    }
    .chat__box__message-box__message{
        border-radius: 2.1vh !important;
    }
}

.chat__box__top{
    display: flex;
    height: 18%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    z-index: 5;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.chat__box__top__left__avatar {
    display:flex;
    height: 60%;
    width: 19%;
    padding-left: 5%;
}

.chat__box__top__left__avatar__photo {
    border-radius: 50%;
    height:85px;
    width: 85px;
    object-fit: cover;
}
.chat__box__top__left {
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 70%;
    justify-content: space-around;
    display: flex;
}
.chat__box__top__right {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.chat__box__top__right__button {
    outline: none;
    border: none;
    background-color: #1877F2;
    cursor: pointer;
}

.chat__box__top__left__name {
    font-family: Montserrat-Semibold;
    font-size: 3vh;
}
.chat__box__text-area{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.chat__box__inner-text-area{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
.chat__box__inner-text-area::-webkit-scrollbar {
    width: 0px;
}
.chat__box__message-box {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.chat__box__message-box__message {
    resize: none;
    padding-left: 0.3vw;
    padding-top: 0.3vw;
    padding-bottom: 2.5vh;
    width: 70%;
    height: 40%;
    z-index: -3;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.chat__box__message-box__message__font {
    font-family: Montserrat-Light;
    font-size: 3vh;
}
.chat__box__message-box__message__send {
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
}
.chat__box__message-box__message__send__but {
    width: 120%;
    height: 120%;
    z-index: 10;
}
.chat__box__message-box__message:focus {
    outline: none;
}
.chat__box__message-box__message:active {
    outline: none;
}
.chat__box__text-area__my-message {
    width: 70%;
    border-radius: 25px 25px 0px 25px;
    resize: none;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1%;
    margin-top: 2%;
}

.chat__box__text-area__my-message:focus {
    outline: none;
}
.chat__box__text-area__my-message-color {
    background-color: #1877F2;
    color: white;
    font-family: Montserrat-Medium;
    font-size: 3vh;
}
.chat__box__text-area__my{
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
}

.chat__box__text-area__other-message {
    width: 70%;
    border-radius: 25px 25px 25px 0px;
    resize: none;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1%;
    margin-left: 1vw;
    margin-top: 2%;
}

.chat__box__text-area__other{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chat__box__text-area__other-message-color {
    background-color: #f1f1f1;
    color: black;
    font-family: Montserrat-Medium;
    font-size: 3vh;
}
.chat__box__text-area__date {
    color: black;
    font-family: Montserrat-Medium;
    font-size: 1.5vh;
    margin-left: 5%;
    margin-bottom: 5%;
}