<main class="main">
    <div class="inner-main">
        <span>Общайтесь</span>
        <span>Дружите</span>
        <span class="pink-text-heart">ВЛЮБЛЯЙТЕСЬ</span>
        <div class="login-signup-landing">
            <a href="/login" data-section="login" class="landing-login">Войти</a>
            <a href="/signup" data-section="signup" class="landing-signup">Создать аккаунт</a>
        </div>
    </div>
</main>