<main class="main">
    <div class="inner-main"><span>Find love</span><span>Find friends</span>
        <span class="text-heart">Enjoy communications</span>
        <span class="pink-text-heart">ANYTIME</span>
        <a href="/signup" data-section="signup" class="signup">Sign up</a>
    </div>
</main>