<main class="main">
    <div class="inner-main"><span>Влюбляйтесь</span><span>Дружите</span>
        <span class="text-heart">Наслаждайтесь общением</span>
        <span class="pink-text-heart">В ЛЮБОЕ ВРЕМЯ</span>
    </div>
</main>