@font-face {
    src: url(./../../fonts/Montserrat-Bold.ttf);
    font-family: Montserrat-Bold;
}

@font-face {
    src: url(./../../fonts/Montserrat-Regular.ttf);
    font-family: Montserrat-Regular;
}

@media screen and (min-width: 1024px) and (max-width: 1520px){
    #name-chat{
        font-size: 18px !important;
    }
    .chat-avatar-photo{
        object-fit: cover;
        width: 75px !important;
    }
    .last-message{
        font-size: 16px !important;
    }
    #time-chat{
        font-size: 14px !important;

    }
    .chats-logo{
        font-size: 30px !important;
    }
    .chat-info{
        margin-left: 5%;
    }
}

@media screen and (max-width: 1024px){
    .list-chats{
        height: 100% !important;
        border-radius: 0px !important;
    }
    .chat-avatar-photo{
        width: 14vh !important;
        height: 14vh !important;
    }
   .chat{
       height: 23% !important;
   }
   .chat__box__text-area__date{
       margin-left: 3% !important;
   }
   .chats-logo {
        height: 0 !important;
        font-size: 0px !important;
   }
   #name_chat{
       font-size: 3vh !important;
   }
   .last-message{
       font-size: 2.4vh !important;
   }
   #time-chat{
       font-size: 2vh !important;
   }
   .chat-info{
       margin-left: 8vw;
   }
}

.chats-new {
    -webkit-animation: blink 3s linear infinite; 
	animation: blink 3s linear infinite; 
	font-weight: bold; 
    background-color: #F5486B;
}

@-webkit-keyframes blink { 
	0% { background-color: #F5486B; }
	50% { background-color: #FBB; }
	100% { background-color: #F5486B; }
}

@keyframes blink {  
	0% { background-color: #F5486B; }
	50% { background-color: #FBB; }
	100% { background-color: #F5486B; }
}

.chats-logo {
    display: flex;
    font-size: 35px;
    color: #1877F2;
    font-family: Montserrat-Bold;
    align-items: center;
    height: 12%;
    margin-left: 7%;
}

.list-chats {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color:  #1877F2;
    width: 100%;
    height: 88%;
    border-radius: 35px;
    border-bottom-left-radius: 0px;
}

.inner-list-chats {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-margin-right: 10px;
    scroll-padding-right: 10px;
}

.inner-list-chats::-webkit-scrollbar {
    width: 0px;
}

.chat {
    display: flex;
    flex-direction: row;
    height: 18%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    /* border-bottom: 3px solid #4290f5;  НАВЕСИТЬ НА ВТОРУЮ ЧАСТЬ, ПОСЛЕ АВАТАРКИ КОТОРАЯ*/
}

.chat:hover {
    background: rgba(0, 0, 0, 0.1);
}

.chat-avatar {
    display:flex;
    height: 80%;
    width: 25%;
    padding-left: 5%;
}

.chat-avatar-photo {
    border-radius: 50%;
    height: 100%;
    width: 105px;
    object-fit: cover;
}

.chat-info {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    height: 80%;
    width: 65%;
    border-bottom: 2px solid #4290f5;
}

.name-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#name-chat {
    font-family: Montserrat-Semibold;
    font-size: 22px;
}

#time-chat {
    font-family: Montserrat-Regular;
    color: #5faafb;
    font-size: 16px;
    padding-right: 10%;
}

.last-message {
    font-family: Montserrat-Regular;
    width: 90%;
    color:white;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.message-number {
    position: relative;
}

.inner-message-number {
    font-family: Montserrat-Semibold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: #f24e6a;
    top: 70%;
    right: 50%;
    border: 3px solid #1877F2;
}

.love-chat {
    background-color: #fb718a;
}

.friend-chat {
    background-color: #8cbd5d;
}