
    <div class="back">
        <a class="arrow" id="arrow"><img class="arrow-img" src="/img/left_arrow_gray.svg"></a>
        <a class="cancelButton" href="/" data-section="landing" class="link">
            <img class="cancel-img" src="/img/cancel_gray.svg">
        </a>
    </div>
    <div class="small-label">
        <img class="small-label-img" src="/img/small_classic_label.png">
    </div>
    <div class="small-label">
        <p class="reg">{{name}}</p>
    </div>
