
<div class="back">
        <button class="arrow" id="arrow"><img src="/img/left_arrow_gray.svg"></button>
        <a href="/" class="cancelButton" data-section="landing" class="link">
           <img src="/img/cancel_gray.svg">
        </a>
</div>
<div class="small-label"><img src="/img/small_classic_label.png"></div>
<a class="skip" id="skip">Пропустить</a>
<div class="small-label"><p class="name">Расскажите о себе<br><label class="podr">Поподробнее</label></p></div>

