<div id = "registration-top">
    <div class="cancel">
        <a class="link cancelButton" href="/" data-section="landing">
            <img src="/img/cancel_gray.svg">
        </a>
    </div>
    <div class="small-label">
        <img src="/img/small_classic_label.png">
    </div>
    <div class="small-label">
        <p class="reg">{{name}}</p>
    </div>
</div>