<div class="navigation-header">
    <div class="inner-navigation-header">
        <div class="inner-navigation-header__settings">
            <a href="#"><img class="" src="../../img/configuration.svg"></a>
        </div>
        <div class="inner-navigation-header__feed">
            <button type="button" class="inner-navigation-header__feed-button"><img src="../../img/small_classic_label.png"></button>
        </div>
        <div class="inner-navigation-header__profile">
            <button class="inner-navigation-header__profile-button"><img src="../../img/profile.svg"></button>
        </div>
        <div class="inner-navigation-header__chats">
            <button class="inner-navigation-header__chats-button"><img src="../../img/chats.svg"></button>
        </div>
    </div>
</div>