<div class="masks">
    <div class="masks__mask">
        <img class="masks__img" src="../../img/no_mask.svg" id="no-mask">
    </div>
    <div class="masks__mask">
        <img class="masks__img" src="../../img/angry.png" id="angry">
    </div>
    <div class="masks__mask">
        <img class="masks__img" src="../../img/cat.png" id="cat">
    </div>
    <div class="masks__mask">
        <img class="masks__img" src="../../img/dog.png" id="dog">
    </div>
    <div class="masks__mask">
        <img class="masks__img" src="../../img/funny.png" id="funny">
    </div>
    <div class="masks__mask">
        <img class="masks__img" src="../../img/lovely.png" id="lovely">
    </div>
    <div class="masks__mask">
        <img class="masks__img" src="../../img/mask.png" id="mask">
    </div>
    <div class="masks__mask">
        <img class="masks__img" src="../../img/shit.png" id="shit">
    </div>
    <div class="masks__mask">
        <img class="masks__img" src="../../img/thinking.png" id="thinking">
    </div>
</div>
