body {
    margin: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    height: 8vh;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    justify-content: space-between;
}

@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat-SemiBold.ttf)
}

.logIn{
    height: 2.5em;
    font-family: Montserrat;
    font-size: 20px;
    color: #F5486B;
    background: white;
    border-color: #F5486B;
    border-style: solid;
    border-width: 4px;
    border-radius: 7px;
    width: 7em;
}

.toggle{
    margin-top: 4px;
    border-color: white;
    background: white;
    box-shadow: white;
    border-width: 0;
    margin-left: 4vw;
}

.navbar-rightside {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 4vw;
}

.navbar-leftside {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.label {
    margin-top: 4px;
    margin-left: 15px;
}

.back  {
    background-color: red;
}