<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="navbar.css">
</head>

<body>
<header class="navbar">
    <div class="navbar-leftside">
        <img src="../../img/classic_label.svg" class="label"/>
    </div>
    <div class="navbar-rightside">
        <button class="logIn">Log in</button>
        <button class="toggle"><img src="../../img/menu_icon.svg" width="30px" height="30px"/></button>
    </div>
</header>
</body>

</html>