<form class="album-body" id="send">
<input type="file" placeholder="" class="photo" accept="image/jpeg,image/png" id="file" name="photo">
<label for="file" class="out">
    <img class="album-img" src="../img/plus.svg" id="preview">
</label>
</form>