<div class="album-buttons">
    <button type="button" class="album-button" id="delete">
        Отменить
    </button>
    <button type="button" class="album-button" id="save">
        Сохранить
    </button>
</div>