<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="Feed.css"/>
    <link href="Album.css">
</head>
<body>
<div class="feed-section">
    <div class="inner-feed-section">
        <div class="photos-cell">
        <div class="cell cell-on" id="cell-0">

        </div>
        </div>
        <div class="profile-person">
            <img id="feedAvatar" src="http://95.163.213.222:8080/static/avatars/3a7b1b81-3452-49e5-812b-c62dc975fe4d"><div class="profile-information">
            <span id="name">Michael  <span id="age">19</span></span><span id="university-work">Бауманка</span>
            <span id="about-me"></span></div><div class="information-logo" id="information-logo"><a href="#">
            <img class="logo" src="./../../img/info.svg"></a></div></div>
        <div class="next-prev-photo"><div class="prev-photo"><button type="button" class="next-prev-photo-button"></button></div><div class="next-photo"><button type="button" class="next-prev-photo-button"></button>
        </div></div><div class="reactions"><button class="reaction-button">
        <img src="./../../img/go-back-arrow.svg"></button><button class="reaction-button">
        <img src="./../../img/cancel.svg"></button><button class="reaction-button">
        <img src="./../../img/like.svg"></button><button class="reaction-button">
        <img src="./../../img/super-like.svg"></button></div></div></div>

</body>
</html>