.album-body {
    border-radius: 20px 20px 20px 20px;
    border: 2px;
    height: 50%;
    width: 30%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin: 1vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.album-section {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 85%;
    overflow-y : auto;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-items: center;
}
.album-section::-webkit-scrollbar {
    width: 0px;
}
.album-img{
    object-fit: cover;
}