<a href="/" data-section="landing" class="link">
    <div class="cancel">
        <button class="cancelButton" type="button"><img src="/img/cancel_gray.svg"></button>
    </div>
</a>
    <div class="small-label"><img class="undefined" src="/img/small_classic_label.png"></div>
    <div class="small-label"><p class="reg">Вход в MIAMI</p></div>
    <label class="yourNumber">Ваш номер телефона</label>
    <div class="number"><input readonly="" value="+7" class="readonlyNum"><input type="tel" placeholder="999-999-99-99"
                                                                      class="numb" id="number" required=""
                                                                      pattern="[9]{1}[0-9]{2}[-]{1}[0-9]{3}[-]{1}[0-9]{2}[-]{1}[0-9]{2}">
    </div>
    <div class="pass"><input type="password" placeholder="Пароль" class="password" name="password" required=""></div>
    <div id="mes" class="message"></div>
    <div class="next">
        <button class="nextButton" type="button" id="next">Далее</button>
    </div>