<a href="/" data-section="landing" class="link">
    <div class="cancel">
        <button class="cancelButton" type="button"><img src="/img/cancel_gray.svg"></button>
    </div>
</a>
<div class="small-label"><img class="undefined" src="/img/small_classic_label.png"></div>
<div class="small-label"><p class="reg">Вход в MIAMI</p></div>
<label class="yourNumber">Введите sms-код:</label>
<div class="pass">
    <div class="pass-inner">
        <input type="text" class="code-input" name="code-input" required="" id="code-input">
    </div>
</div>
<div id="mes" class="message"></div>
<div class="next">
    <button class="nextButton" type="button" id="sign-in-button">Далее</button>
</div>