.inner-feed-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.photos-cell {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 1024px){
    .feed-section{
        width: 100% !important;
        height: 90%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    }
    .profile-person{
        width: 80% !important;
    }
    .photos-cell{
        width: 70% !important;
        margin-bottom: 1%;
        margin-top: 0.5vh !important;
    }
    #name{
        font-size: 5vh !important;
    }
    #age{
        font-size: 5vh !important;
    }
    #university-work {
        font-size: 4vh !important;
    }
    #about-me {
        font-size: 3vh !important;
    }
    .profile-information{
        margin-left: 2vw !important;
        margin-bottom: 3vh !important;
    }
    .information-logo{
        left: 82% !important;
    }
    .reactions{
        width: 70% !important;
    }

    .next-prev-photo {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        bottom: 40%;
        height: 0px;
    }
}

.logo {
    width: 4vh;
    height: 4vh;
}

.cell {
    height: 4px;
    width: 100%;
    flex-grow: 1;
    background-color: #1876f26e;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 5px;
}

.cell-on {
    background-color: #1877F2;
}

.profile-person {
    height: 80%;
    width: 40%;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#feedAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-information {
    position: absolute;
    color: white;
    font-family: Montserrat-Semibold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-bottom: 20px;
}
#name {
    font-size: 40px;
}

#age {
    font-size: 40px;
}

#university-work {
    font-size: 30px;
}

#about-me {
    font-size: 20px;
}

.information-logo {
    position: absolute;
    left: 90%;
    bottom: 5px;
}

.reactions {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.reaction-button {
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.inner-prev-photo {
    transform: scale(-1, 1);
}

@media screen and (min-width: 1024px) {
    .next-prev-photo {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        bottom: 40%;
        height: 0px;
    }
}

.next-prev-photo-button {
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
}

.outer-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

#back-user-form {
    display: flex;
}