<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whats about you</title>
    <link rel="stylesheet" href="register.css">
</head>
<body class="back">
<div class="formView">
<form class="form">
    <div class="cancel">
        <button class="cancelButton"><img src="../../img/cancel_gray.svg" width="15px" height="15px"/>
        </button>
    </div>
    <div class="label">
        <img src="../../img/small_classic_label.png"/>
    </div>
    <div class="label">
        <p class="reg">Расскажите о себе.</p>
    </div>
    <div class="cont">
        <label class="yourNumber">Моё имя</label>
        <div class="pass">
            <input class="password" placeholder="Имя"/>
        </div>
    </div>
    <div class="next">
        <button class="nextButton">Далее</button>
    </div>
</form>
</div>
</body>
</html>