.chat__box {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:  white;
    width: 100%;
    height: 88%;
    border-radius: 35px;
    border-bottom-left-radius: 0px;
}

.chat__box__top{
    display: flex;
    height: 18%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    z-index: 5;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.chat__box__top__left__avatar {
    display:flex;
    height: 60%;
    width: 19%;
    padding-left: 5%;
}

.chat__box__top__left__avatar__photo {
    border-radius: 50%;
    height:100%;
}
.chat__box__top__left {
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    display: flex;
}
.chat__box__top__right {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.chat__box__top__right__button {
    outline: none;
    border: none;
    background-color: #1877F2;
    cursor: pointer;
}

.chat__box__top__left__name {
    font-family: Montserrat-Semibold;
    font-size: 3vh;
}
.chat__box__text-area{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.chat__box__inner-text-area{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
.chat__box__inner-text-area::-webkit-scrollbar {
    width: 0px;
}
.chat__box__message-box {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.chat__box__message-box__message {
    resize: none;
    padding-left: 0.3vw;
    padding-top: 0.3vw;
    padding-bottom: 2.5vh;
    width: 70%;
    height: 40%;
    z-index: -3;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.chat__box__message-box__message__font {
    font-family: Montserrat-Light;
    font-size: 3vh;
}
.chat__box__message-box__message__send {
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
}
.chat__box__message-box__message__send__but {
    width: 120%;
    height: 120%;
    z-index: 10;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}
.chat__box__message-box__message:focus {
    outline: none;
}
.chat__box__message-box__message:active {
    outline: none;
}
.chat__box__text-area__my-message {
    width: 70%;
    border-radius: 25px 25px 0px 25px;
    resize: none;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1%;
    margin-top: 2%;
}

.chat__box__text-area__my-message:focus {
    outline: none;
}
.chat__box__text-area__my-message-color {
    background-color: #1877F2;
    color: white;
    font-family: Montserrat-Medium;
    font-size: 3vh;
}
.chat__box__text-area__my{
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
}

.chat__box__text-area__other-message {
    width: 70%;
    border-radius: 25px 25px 25px 0px;
    resize: none;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1%;
    margin-left: 1vw;
    margin-top: 2%;
}

.chat__box__text-area__other{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chat__box__text-area__other-message-color {
    background-color: #f1f1f1;
    color: black;
    font-family: Montserrat-Medium;
    font-size: 3vh;
}
.chat__box__text-area__date {
    color: black;
    font-family: Montserrat-Medium;
    font-size: 1.5vh;
    margin-left: 5%;
    margin-bottom: 5%;
}



@font-face {
    src: url(./fonts/Montserrat-SemiBold.ttf);
    font-family: Montserrat-Semibold;
}

@font-face {
    src: url(./fonts/Montserrat-Bold.ttf);
    font-family: Montserrat-Bold;
}

@font-face {
    src: url(./fonts/Montserrat-Regular.ttf);
    font-family: Montserrat-Regular;
}

body {
    margin: 0;
}

.feed-background {
    display: flex;
    background-color: #f5486b1f;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: -3;
}

.feed-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 35px;
    height: 87vh;
    width: 85vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.settings {
    position: relative;
}

.inner-settings {
    position: absolute;
    left: 20px;
    top: 20px;
}

.feed-section {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.inner-feed-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.photos-cell {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    height: 4px;
    width: 100%;
    flex-grow: 1;
    background-color: #1876f26e;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 5px;
}

.cell-on {
    background-color: #1877F2;
}


.profile-photo {
    height: 80%;
    width: 55%;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.profile-information {
    position: absolute;
    color: white;
    font-family: Montserrat-Semibold;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}
#name {
    font-size: 40px;
}

#age {
    font-size: 40px;
}

#university-work {
    font-size: 30px;
}

#about-me {
    font-size: 20px;
}

.information-logo {
    position: absolute;
    left: 90%;
    bottom: 5px;
}

.reaction {
    display: flex;
    flex-direction: row;
    width: 66%;
    justify-content: space-around;
}

.reaction-button {
    border: none;
    background-color: white;
    outline: none;
}

.next-photo {
    position: absolute;
    display: flex;
    left: 210px;
    bottom: 300px;
}


.prev-photo {
    position: absolute;
    display: flex;
    right: 210px;
    bottom: 300px;
}

.inner-prev-photo {
    transform: scale(-1, 1);
}

.next-prev-photo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-chat-section {
    display:flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);

}

.chats-logo {
    display: flex;
    font-size: 35px;
    color: #1877F2;
    font-family: Montserrat-Bold;
    align-items: center;
    height: 12%;
    margin-left: 7%;
}

.list-chats {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color:  #1877F2;
    width: 100%;
    height: 88%;
    border-radius: 35px;
    border-bottom-left-radius: 0px;
}

.inner-list-chats {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-margin-right: 10px;
    scroll-padding-right: 10px;
}

.inner-list-chats::-webkit-scrollbar {
    width: 0px;
}

.chat {
    display: flex;
    flex-direction: row;
    height: 18%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    /* border-bottom: 3px solid #4290f5;  НАВЕСИТЬ НА ВТОРУЮ ЧАСТЬ, ПОСЛЕ АВАТАРКИ КОТОРАЯ*/
}

.chat:hover {
    background: rgba(0, 0, 0, 0.1);
}

.chat-avatar {
    display:flex;
    height: 80%;
    width: 25%;
    padding-left: 5%;
}

.chat-avatar-photo {
    border-radius: 50%;
    height:100%;
}

.chat-info {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    height: 80%;
    width: 65%;
    border-bottom: 2px solid #4290f5;
}

.name-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#name-chat {
    font-family: Montserrat-Semibold;
    font-size: 22px;
}

#time-chat {
    font-family: Montserrat-Regular;
    color: #5faafb;
    font-size: 16px;
    padding-right: 10%;
}

.last-message {
    font-family: Montserrat-Regular;
    width: 90%;
    color:white;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.message-number {
    position: relative;
}

.inner-message-number {
    font-family: Montserrat-Semibold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: #f24e6a;
    top: 70%;
    right: 50%;
    border: 3px solid #1877F2;
}








.inner-profile {
    margin-top: 10%;
    display: flex;
    border-radius: 30px;
    width: 80%;
    height: 80%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
}

.my-profile-information {
    position: absolute;
    color: white;
    font-family: Montserrat-Semibold;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80%;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}

.dark::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 6;
    background: rgba(0, 0, 0, .7);
    opacity: 1;
}




.profile-chat-icons {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.profile-icon {
    position: absolute;
    right: 0px;
    top: 15px;
    background-color: white;
    border: none;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.profile-icon-button {
    background-color: white;
    border: none;
    padding-right: 12px;
    padding-top: 8px;
    padding-left: 18px;
    padding-bottom: 8px;
    outline: none;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.profile-icon-button:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-right: none;
    background-color: #1F2041;
}

.chats-icon {
    position: absolute;
    right: 0px;
    top: 80px;
    background-color: white;
    border: none;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.chats-icon-button {
    background-color: white;
    border: none;
    padding-right: 12px;
    padding-top: 8px;
    padding-left: 18px;
    padding-bottom: 8px;
    outline: none;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.chats-icon-button:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-right: none;
}





/*Comments.css*/
/*.profile {*/
/*    display: flex;*/
/*    overflow-y: auto;*/
/*    flex-direction: column;*/
/*    background-color: #1F2041;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.profile__comments {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    background-color: #1F2041;
    height: 100%;
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 35px;
    /*border-top-right-radius: 35px;*/
    align-items: center;
}
.profile__comments::-webkit-scrollbar {
    width: 0px;
}

.inner__profile {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.inner__profile::-webkit-scrollbar {
    width: 0px;
}

.inner__profile__other{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1vw;
}
.inner__profile__other-time {
    display: flex;
    justify-content: flex-end;
}
.inner__profile__other__comment {
    width: 70%;
    border-radius: 25px 25px 0px 25px;
    resize: none;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1%;
    margin-top: 2%;
}
.inner__profile__other__comment-color {
    background-color: #1877F2;
    color: white;
    font-family: Montserrat-Medium;
    font-size: 3vh;
}

.inner__profile__other__comment__date {
    color: white;
    font-family: Montserrat-Medium;
    font-size: 1.5vh;
    margin-right: 5%;
    margin-bottom: 5%;
}

.inner__profile-comments {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.inner__profile-comments__avatar__photo {
    margin-top: 5%;
    margin-right: 7%;
    border-radius: 50%;
    width: 100%;
}
.inner__profile-comments__avatar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}
.inner__profile-comments__avatar__name {
    color: white;
}

.profile__top {
    display: flex;
    background-color: #1F2041;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 35px;
    height: 12%;
    flex-direction: row;
}
.profile__top__left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.profile__top__left__text {
    color: white;
    font-size: 4vh;
    font-family: Montserrat-Medium;
}
.profile__top__right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 45%;
}
.profile__top__right__button {
    outline: none;
    border: none;
    background-color: #1F2041;
    cursor: pointer;
}
.comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
    align-items: center;
}
.comments__avatar__name {
    color: white;
}
.comment__date {
    color: white;
    font-family: Montserrat-Medium;
    font-size: 1.5vh;
    margin-bottom: 5%;
}
.comment__message-box__message {
    resize: none;
    padding-left: 0.3vw;
    padding-top: 0.3vw;
    padding-bottom: 2.5vh;
    width: 73%;
    height: 65%;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.comment__message-box__message::-webkit-scrollbar {
    width: 0px;
}
.comment__message-box__message:focus {
    outline: none;
}
.comment__message-box__message__send {
    background-color: #1F2041;
    margin-right: 5%;
    outline: none;
    border: none;
    cursor: pointer;
}