<div class="comment">
    <textarea class="comment__message-box__message chat__box__message-box__message__font" placeholder="Ваш комментарий"></textarea>
    <button type="button" class="comment__message-box__message__send">
        <img class="chat__box__message-box__message__send__but" src="./img/send.svg"/>
    </button>
</div>