<div class="profile__top">
    <div class="profile__top__left">
        <span class="profile__top__left__text">Комментарии</span>
    </div>
    <div class="profile__top__right">
        <button type="button" class="profile__top__right__button" id="backToChat">
            <img src="../../img/left_arrow_white.svg"/>
        </button>
    </div>
</div>
<div class="profile__comments">
    <div class="inner__profile-comments" id="comments">

    </div>
</div>