<div class="inner__profile__other">
    <div class="inner__profile__other__comment inner__profile__other__comment-color">
        {{commentText}}
    </div>
    <div class="inner__profile-comments__avatar">
        <img src="{{avatar}}" class="inner__profile-comments__avatar__photo"/>
        <span class="inner__profile-comments__avatar__name">{{name}}</span>
        <span class="inner__profile__other__comment__date">{{timeDelivery}}</span>
    </div>

</div>