<div class="comment">
    <textarea class="comment__message-box__message chat__box__message-box__message__font" placeholder="Ваш комментарий" id="text-comment"></textarea>
    <button type="button" class="comment__message-box__message__send" id="send-comment">
        <img class="chat__box__message-box__message__send__but" src="../../img/send.svg"/>
    </button>
</div>