<div class="photo-view">
    <div class="photo-buttons">
        <a class="basket-button" id="avatar-button">
            <img class="avatar-img" src="../img/avatar.svg" id="avatar-button">
        </a>
        <a class="basket-button" id="basket-button">
            <img class="basket-img" src="../img/basket.svg" id="delete-button">
        </a>
        <a href="#" class="cancel-button">
            <img class="cancel-img" src="../img/white_cancel.svg">
        </a>
    </div>
    <div class="photo-img">
        <img class="open-photo-img" src="{{photo}}" alt="plus" id="current-photo">
    </div>
</div>