<label class="nameFormText">Обо мне</label>
<div class="pass"><textarea placeholder="Обожаю гольф, играть на музыкальных инструментах" class="about" id="about"
                            name="about"></textarea>
</div>
<label class="end-is-near">Почти готово!</label>