<label class="University">Высшее образование</label>
<div class="radio">
    <div class="radio-elems" id="radio1"><input type="radio" placeholder="" class="radio-elem" name="education" id="rad1"><label
            class="text" for="rad1">Учусь</label></div>
    <div class="radio-elems" id="radio2"><input type="radio" placeholder="" class="radio-elem" name="education" id="rad2"><label
            class="text" for="rad2">Оконочил</label></div>
    <div class="radio-elems" id="radio3"><input type="radio" placeholder="" class="radio-elem" name="education" id="rad3"><label
            class="text" for="rad3">Нет</label></div>
</div>
<div id="education_univ"><label class="nameFormText">Я учусь</label>
    <div class="pass"><textarea placeholder="МГТУ им. Н.Э.Баумана" class="education" id="univer"
                                name="univer"></textarea>
    </div>
</div>