
    <label class="yourNumber">Ваш номер телефона</label>
    <div class="number"><input readonly="" value="+7" class="readonlyNum">
        <input type="tel" placeholder="(999) 999 99 99" class="numb" id="number">
    </div>
    <div class="pass"><input type="password" placeholder="Пароль" class="password" name="password"
                              id="password"></div>
    <div class="pass"><input type="password" placeholder="Повторите пароль" class="password"
                              name="repeat-password" id="repeat-password"></div>
    <div id="mes" class="message"></div>
