<form class="form-photo" method="POST" enctype="multipart/form-data" id="form-photo">
    <div class="back">
        <a class="arrow-last" id="arrow"><img src="/img/left_arrow_white.svg"></a>
        <a href="/" class="last-cancelButton" data-section="landing" class="link">
            <img src="/img/white_cancel.svg">
        </a>
    </div>
    <div class="small-label"><img class="undefined" src="/img/small_white_label.png"></div>
    <div class="small-label"><p class="name-last">Выберите лучшие<br><label class="podr">фотографии.</label></p></div>
    <div class="podr">
        <input type="file" placeholder="" class="photo" accept="image/jpeg,image/png" id="file"
                             name="photo"><label for="file" class="out"><img src="/img/camera.svg" id="preview"></label>
    </div>
    <div id="mes" class="message-last"></div>
    <div class="next">
        <button type="button" class="endButton" class="link" id="end">
                Завершить!
        </button>
    </div>
</form>