
    <label class="yourNumber">Я...</label>
    <div class="sex">
        <button class="ButtonFemale" type="button" id="female">Женщина</button>
        <button class="ButtonMale" id="male">Мужчина</button>
    </div>
