<header class="header">
    <div class="header-left-side">
        <img src="./../../img/classic_label.png" class="label" alt="габела">
    </div>
    <div class="header-right-side">
        <a href="/login" data-section="login" class="login">Log in</a>
        <button class="toggle-menu"><img src="../../img/menu_icon.svg" alt="МЕНЮ"></button>
    </div>
</header>