<header class="header">
    <div class="header-left-side">
        <img src="./../../img/classic_label.png" class="label" alt="габела">
    </div>
    <div class="header-right-side">
        <a href="/login" data-section="login" class="login">Войти</a>
        <a href="/signup" data-section="signup" class="signup">Создать аккаунт</a>
    </div>
</header>